# API Configuration
VITE_API_BASE_URL=http://localhost:7003/document_service
VITE_DEFAULT_TENANT_ID=afedf-1234-2redf
VITE_DEFAULT_USER_ID=1234-54gtf-dx-2-fss
VITE_DEFAULT_WORKSPACE_ID=cxdwe4t534gt-w43t54aw4-34q
VITE_DEFAULT_API_VERSION=1.1